@import '../../../styles/_variables.scss';

.loading-spinner {
  display: inline-block;
  position: relative;
  pointer-events: none;
}

.loading-spinner--small {
  width: 20px;
  height: 20px;
}

.loading-spinner--medium {
  width: 40px;
  height: 40px;
}

.loading-spinner--large {
  width: 60px;
  height: 60px;
}

.loading-spinner--primary {
  color: $primary-color;
}

.loading-spinner--secondary {
  color: $secondary-color;
}

.loading-spinner--white {
  color: $white;
}

.spinner-ring {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  animation: ring-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: transparent;
  border-top-color: currentColor;
}

.spinner-ring:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner-ring:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner-ring:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes ring-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
