.skip-navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;

  .skip-link {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 1rem 2rem;
    background-color: #E10600;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;

    &:focus {
      top: 0;
      left: 0;
      background-color: #E10600;
      outline: 4px solid #00ff00;
      outline-offset: 2px;
      border-right: 2px solid #ff0000;
      border-bottom: 2px solid #ff0000;
    }

    &:hover {
      background-color: #c90500;
    }
  }
}
