.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  z-index: 9999;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__spinner {
    position: relative;
    width: 60px;
    height: 60px;

    &-circle {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 4px solid var(--color-primary);
      border-radius: 50%;
      opacity: 0;
      animation: spinner-anim 1.5s infinite ease-in-out;

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }

  &__text {
    font-size: 1.125rem;
    color: var(--color-text);
    font-weight: 500;
    margin: 0;
  }
}

@keyframes spinner-anim {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
